.fa-solid {
    font-size: 20px;
}

.chosen {
    font-size: 100px;
}

.wins {
    color: green
}

.losses {
    color: red;
}

.choose-hand {
    border: 1px transparent solid;
    border-radius: 5px;
    background-color: transparent;
    margin-left: 3px;
}

.choose-hand:hover {
    background-color: rgba(158, 158, 251, 0.404);
}

.play-btn {
    margin-top: 10px;
    margin-right: 5px;
    font-size: 20px;
    border: 2px green solid;
    border-radius: 5px;
    background-color: transparent;
    color: green;
}

.play-btn:hover {
    background-color: rgba(227, 255, 227, 0.686);
}

.reset-btn {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 20px;
    border: 2px red solid;
    border-radius: 5px;
    background-color: transparent;
    color: red;
}

.reset-btn:hover {
    background-color: rgb(255, 228, 228);
}

button {
    cursor: pointer;
}
